{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/checkbox.css' %}">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">


      <title>Restpi | {% block title %}{% endblock %}</title>
      {% block extraHead %}{% endblock %}
  </head>
  <body>
    {% include 'navbar.html' %}

    {% block mainarea %}{% endblock %}

    <script src="{% static 'js/angular.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block extraFoot %}{% endblock %}
  </body>
</html>